.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
}
.item1{
	width:100px;
	height:100px;
	background-color:yellow;
}
.item2{
	width:100px;
	height:100px;
	background-color:black;
}
.item3{
	width:100px;
	height:100px;
	background-color:orange;
}


/* Your CSS Code here. */